<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Vue.js - lesson 1</title>
    <style>
        body {
            font-size: 24px;
        }
        .red {
            background: red
        }
        .green {
            background: green
        }
        .blue {
            background: blue
        }
    </style>
</head>
<body>
<div id="app">
    <button type="button" @click="toggle='1'">первый</button>
    <button type="button" @click="toggle='2'">второй</button>
    <button type="button" @click="toggle='3'">третий</button>
    <div :class="bindClass" v-if="(toggle=='1')">
        <ul class="loop1">
            <li v-for="val in stateLoop1">{{ val }}</li>
        </ul>
    </div>
    <div :class="bindClass" v-if="(toggle=='2')">
        <ul class="loop1">
            <li v-for="val in stateLoop2">{{ val }}</li>
        </ul>
    </div>
    <div :class="bindClass" v-if="(toggle=='3')">
        <ul class="loop1">
            <li v-for="val in stateLoop3">{{ val }}</li>
        </ul>
    </div>
    <button type="button" @click="bindClass='red'">1</button>
    <button type="button" @click="bindClass='green'">2</button>
    <button type="button" @click="bindClass='blue'">3</button>
</div>
<script>
    let app = new Vue({
        el: '#app',
        data: {
            toggle: 1,
            bindClass: 'red',
            stateLoop1: [
                'Vue',
                'React',
                'Angular',
                'Ember'
            ],
            stateLoop2: [
                'Vue2',
                'React2',
                'Angular2',
                'Ember2'
            ],
            stateLoop3: [
                'Vue3',
                'React3',
                'Angular3',
                'Ember3'
            ],
        }
    });
</script>
</body>
</html>